.container {
    overflow: hidden;
    height: 600px;
    width: 400px;
    margin-left: 1080px;
    opacity: 1;
    border-radius: 20px;
    background-color: rgb(252, 200, 70);
    position: absolute;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.details {
    display: block;
    font-size: 18px;
    margin-left: 100px;
    margin-top: 20px;
    line-height: 1.8; /* Adjust line height for readability */
    color: #333; /* Dark text color for better readability */
    margin-bottom: 10px; /* Increase space between items */
    font-weight: 500; /* Make the font weight more prominent */
    flex-shrink: 0;
    flex-grow: 0;
}

.details span {
    display: inline-block;
    margin-right: 20px; /* Space between label and value */
}

h3 {
    font-size: 22px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}


.fields {
    display: block; /* Ensure it takes up full width */
    font-size: 18px;
    margin-left: 200px;
    margin-top: 5px;
    line-height: 1.8; 
    color: #fff; /* Dark text color for better readability */
    margin-bottom: 5px; /* Increase space between items */
    font-weight: 500; /* Make the font weight more prominent */
    flex-shrink: 0; 
    flex-grow: 0;
}

.fields:hover{
    color: rgb(1, 1, 93);
}

.friends {
    display: block; /* Ensure it takes up full width */
    font-size: 18px;
    
    margin-top: 5px;
    width: 520px; 
    color: #fff; /* Dark text color for better readability */
    margin-bottom: 5px; /* Increase space between items */
    font-weight: 500; /* Make the font weight more prominent */
    flex-shrink: 0; /* Prevents shrinking */
    flex-grow: 0;
}

.profile{
    display: flex;
    justify-content: space-between;
}