
.container {
    overflow: hidden;
    height: 600px;
    width: 400px;
    margin-left: 100px;
    border-radius: 20px;
    background-color: rgb(252, 200, 70);
    position: absolute;
    }
    
    .circle {
        margin-left: 20%;
        margin-top: 20%;
        display: flex;
        background-color: black;
        position: relative;
        color: white;
        border-radius: 0%;
        height: 250px;
        width: 250px;
        object-fit:contain;
    }
    
    .centered {
        height: 1000px;
        width: 1000px;
        margin-left: 10%;
        margin-top: 10%;
        
    }